@charset "UTF-8";
@font-face {
  font-family: aa;
  src: url(../font/0dTEPzkLWceF7z0koJaX1A.woff2); }

@font-face {
  font-family: bb;
  src: url(../font/RJMlAoFXXQEzZoMSUteGWFtXRa8TVwTICgirnJhmVJw.woff2); }

* {
  margin: 0;
  padding: 0;
  list-style: none; }

.translate {
  position: absolute;
  font-size: 20px;
  right: 20px;
  top: 20px;
  font-weight: normal; }
  .translate p {
    display: inline-block;
    margin: 0 8px;
    cursor: pointer; }
  .translate .en {
    font-weight: 900; }

.chinese {
  display: none; }

h3.chinese {
  font-family: 苹方 !important; }
  h3.chinese strong {
    font-family: 苹方 !important;
    font-weight: 300 !important; }

p.chinese {
  font-family: 苹方;
  font-weight: 100; }

body {
  font-family: bb,sans-serif;
  font-size: 16px; }

.header .content {
  width: 1000px;
  height: 360px;
  padding-top: 200px;
  margin: 0 auto;
  padding-bottom: 60px; }
  .header .content img {
    transition: all 1s ease; }
  .header .content img:hover {
    transform: scale(0, 0); }
  .header .content img.turno {
    transition: all 1s ease;
    transform: rotateZ(360deg); }
  .header .content img.turnt {
    transition: all 1s ease;
    transform: rotateZ(360deg); }
  .header .content h3 {
    font-size: 2.25em;
    text-align: center;
    font-weight: 100;
    letter-spacing: 1.1px;
    margin: 20px 0 0 0; }
    .header .content h3 strong {
      font-family: aa;
      font-weight: 400; }
  .header .content p {
    font-size: 1.5em;
    text-align: center;
    line-height: 2em;
    margin-top: 0; }
  .header .content h3.chinese {
    font-size: 2em; }
    .header .content h3.chinese strong {
      font-weight: 300; }
  .header .content p.chinese {
    font-size: 1.35em; }

.footer {
  position: fixed;
  z-index: 999999;
  bottom: 0;
  width: 100%;
  height: 29px;
  background: #231f20;
  text-align: center; }
  .footer p {
    color: #fff;
    font-size: 0.8em;
    line-height: 29px; }
    .footer p a {
      color: #fff;
      text-decoration: none;
      margin-left: 15px;
      transition: color 0.4s; }
      .footer p a:hover {
        color: #fced3f; }

.container {
  width: 100%;
  color: #ffffff;
  background: #231f20;
  padding: 60px 0; }
  .container .content {
    margin: 0 auto;
    width: 1000px; }
    .container .content .carousel {
      width: 1000px;
      height: 500px;
      overflow: hidden;
      position: relative; }
      .container .content .carousel .imgbox {
        transition: all 1s ease; }
      .container .content .carousel .imgbox:hover {
        transform: scale(1.03, 1.03); }
      .container .content .carousel ul {
        position: absolute;
        cursor: default;
        z-index: 999;
        width: 600px;
        height: 22px;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        text-align: center; }
        .container .content .carousel ul li {
          width: 8px;
          height: 8px;
          opacity: 0.5;
          border-radius: 50%;
          display: inline-block;
          border: 1px solid #ffffff;
          margin: 1px;
          padding: 1px;
          cursor: pointer; }
        .container .content .carousel ul li.hot {
          width: 9px;
          height: 9px;
          margin: 1px;
          background: #ffffff; }
    .container .content p, .container .content h3 {
      text-align: center; }
    .container .content h3 {
      font-weight: 100;
      font-size: 2.25em;
      margin: 18px 0 10px 0; }
    .container .content p {
      font-size: 1.5em;
      line-height: 2em; }
    .container .content h3.chinese {
      font-size: 2em; }
    .container .content p.chinese {
      font-size: 1.35em; }

.container2 {
  background: #ffffff;
  color: inherit; }

.container3 {
  padding: 50px 0; }
  .container3 p {
    line-height: 1.8em !important; }
  .container3 .top {
    margin-top: 40px; }

.container4 {
  padding-top: 40px;
  padding-bottom: 80px; }
  .container4 .content div {
    width: 20%;
    float: left;
    line-height: 150px; }
    .container4 .content div img {
      display: inline;
      vertical-align: middle;
      width: 150px;
      margin: 0 auto;
      position: relative;
      top: 50%; }
  .container4 .content:after {
    content: '';
    display: block;
    clear: both; }

.container5 a {
  color: #7ec0dd;
  text-decoration: none;
  transition: color 0.8s ease; }
  .container5 a:hover {
    color: #fced3f; }
